@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Esteban&display=swap');

#logo {
  width: 10%;
  filter: var(--invert-logo);
}

.heroMsg {
  width: 75%;
  text-align: center;
  margin: 100px auto;
}

.heroMsg h1 {
  font-size: 75px;
  text-shadow: 2px 2px 400px #333;
  color: #fff;
  white-space: normal;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 15px;
  font-family: "Truculenta", sans-serif;
  font-weight: 900;
}

.heroMsg p {
  font-family: "Truculenta", sans-serif;
  font-size: 35px;
  text-align: center;
 color: #fff;
}

.about-us {
  display: flex;
  position: relative;
  background-color: #2a1c15;
}

.ab-txt {
  width: 100%;
  margin: 50px 0 0 190px;
}

.ab-txt h2 {
  font-size: 75px;
  font-family: 'Truculenta', sans-serif;
  font-weight: 750;
  text-transform: uppercase;
  color: #fff;
}

.ab-txt p {
  white-space: normal;
  font-size: 15px;
  text-align: justify;
  line-height: 2;
  color: #999;
  width: 350px;
}

.ab-txt a {
  color: white;
  background-color: #333;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  transition: all ease 0.3s;
}

.ab-txt a:hover {
  background-color: #fff;
  color: #333;
  transition: all ease 0.3s;
}

.ab-img {
  background-image: url('../assets/gardenguitar.jpeg');
  width: 100%;
  height: 560px;
  background-size: cover;
  margin: 10px 70px 30px 100px;
  border-radius: 750px;
}

.btn-white, .btn-white a {
  color: var(--color-text);
  background-color: var(--color-btn);
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  transition: all ease 0.3s;
}

.btn-white:hover, .btn-white a:hover{
  background-color: #555;
  color: #fff;
  transition: all ease 0.3s;
}

@media (max-width: 768px) {
  #logo {
    width: 25%;
    filter: var(--invert-logo);
  }

  .heroMsg {
    width: 80%;
    margin: 50px auto;
  }

  .heroMsg h1 {
    font-size: 60px;
    letter-spacing: 10px;
  }

  .heroMsg p {
    font-size: 20px;
  }

  .about-us {
    display: block;
  }

  .ab-txt {
    margin:  0 20px 50px;
    text-align: center;
  }

  .ab-txt h2 {
    font-size: 50px;
  }

  .ab-txt p {
    width: 100%;
    padding: 0 75px 0 75px;
  }

  .ab-img {
    margin: 10px 0 30px 0;
    border-radius: 0;
    height: 150px;
    background-position: center;
  }
}
