@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap');

#logo {
  width: 10%;
}

.heroMsg {
  width: 75%;
  text-align: center;
  margin: 100px auto;
}

.heroMsg h1 {
  font-size: 120px;
  text-shadow: 2px 2px 400px #333;
  color: #fff;
  white-space: normal;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 15px;
  font-family: "Truculenta", sans-serif;
  font-weight: 900;
}

.heroMsg p {
  font-family: "Truculenta", sans-serif;
  font-size: 35px;
  text-align: center;
 color: #fff;
}

.about-us {
  display: flex;
  position: relative;
  background-color: #2a1c15;
}

.ab-txt {
  width: 80%;
  margin: 50px 0 0 100px;
}

.ab-txt h2 {
  font-size: 95px;
  font-family: 'Truculenta', sans-serif;
  font-weight: 750;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
}

.ab-txt p {
  white-space: normal;
  font-size: 15px;
  text-align: justify;
  line-height: 2;
}

.ab-txt a {
  color: white;
  background-color: #333;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  transition: all ease 0.3s;
}

.ab-txt a:hover {
  background-color: #fff;
  color: #333;
  transition: all ease 0.3s;
}

.ab-img {
  background-image: url('../assets/gardenguitar.jpeg');
  width: 150%;
  height: 560px;
  background-size: cover;
  margin: auto 0 0 100px;
}
